node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env

# Prohibit everithing.json accidentally
*.json
# prohibit every certificates
*.pem
*.pfx
*.cer
*.crt


# macOS
.DS_Store
